/*
red: #EC1C26
blue: #0094D9
*/


.navbar {
	min-height: 7%;
}

h1 {
	color: #0094D9;
	font-weight: bold;
	text-align: center;
}

hr {
	padding-bottom: 2%;
}

.navbar-logo {
	max-height: 150%;
	max-width: auto; 
}

h3 {
	color: #0B1212;
}

p {
	color: #666;
}